*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #fef5e5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  }
}
.undoArrows{
  position: absolute;
  top: 5px;
  color: #5d5d5d;
  width: 120px;
}
.fa-arrow-left{
  margin: 0px 5px 0px 35px;
  cursor: pointer;
}
.fa-arrow-right{
  margin: 0px 35px 0px 10px;
  cursor: pointer;
}
.wrapper{
  width: 120px;
  position: absolute;
}
.tools{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #c2c2c2;
  margin: 15px auto 15px auto;
  position: relative;
  background-color: #dfdfdf;
  cursor: pointer;
}
.tools:hover{
  box-shadow: 0px 0px 15px #747474;
}
.activeTool{
  background-color: yellow;
  box-shadow: 0px 0px 5px #747474;
  transition: all 1s;
  border: 1px solid #d9d900;
}
.tools img{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.eraserTool img{
  transform: rotate(12deg);
}
#myCanvas{
  border: 1px solid #bababa;
  position: absolute;
  left: 120px;
  margin: 5px 0px;
  background-color: white;
}
.pencilCursor{
  cursor: url('../pictures/small-pencil.png') 0 70, pointer;
}
.eraserCursor{
  cursor: url('../pictures/small-eraser.png') 10 70, pointer;
}
.paintCursor{
  cursor: url('../pictures/small-paint-tool.png') 0 70, pointer;
}
.pipetCursor{
  cursor: url('../pictures/small-pipet.png') 0 70, pointer;
}
.loupeCursor{
  cursor: url('../pictures/small-loupe.png') 0 70, pointer;
}
.colorInput{
  width: 75px;
  height: 30px;
  margin: 15px auto;
  cursor: pointer;
  display: none;
}
.pencilWidth{
  width: 115px;
  height: 10px;
  -webkit-appearance: none;
  background: linear-gradient(90deg, yellow 20%, white 20%);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 3px 10px 0px #0000009e;
  display: none;
}

.eraserWidth{
  width: 115px;
  height: 10px;
  -webkit-appearance: none;
  background: linear-gradient(90deg, yellow 30%, white 30%);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 3px 10px 0px #0000009e;
  display: none;
}

.pencilWidth:hover {
  opacity: 1;
}
.eraserWidth:hover {
  opacity: 1;
}

/* .pencilWidth::after{
  content: '20';
  position: absolute;
  left: 85%;
  top: 31%;
  font-size: 13px;
} */

/* .pencilWidth::before{
  content: '1';
  position: absolute;
  left: 5%;
  top: 31%;
  font-size: 13px;
} */

.pencilWidth::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}

.pencilWidth::-moz-range-thumb{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}

.eraserWidth::-moz-range-thumb{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}

/* .eraserWidth::after{
  content: '40';
  position: absolute;
  left: 85%;
  top: 44%;
  font-size: 13px;
} */

/* .eraserWidth::before{
  content: '1';
  position: absolute;
  left: 5%;
  top: 44%;
  font-size: 13px;
} */

.eraserWidth::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}

.downloadFavicon{
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 40px;
  left: 35px;
}
.fa-cloud-download-alt{
  color: #747474;
  position: relative;
  font-size: 40px;
  cursor: pointer;
  bottom: 0px;
}
.fa-cloud-download-alt::before{
  width: 300px;
  height: 300px;
}
